.App {
  text-align: center;
}

body {
  background: #d3d3d3;
}

.container-fluid {
  margin: 15px 15px 15px 115px;
  height: 100%;
  background: #fff;
  max-width: 1400px;
}

.borderRed {
  color: #fff;
}

nav {
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  width: 100px;
  box-shadow: 0px 4px 5px #ccc;
  border-right: 1px solid #ccc;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul li {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

nav ul li a {
  padding: 20px 0;
  display: list-item;
  transition: all ease 0.4s;
}

nav ul li a:hover {
  background: #eee;
}

.topnav ul li a {
  padding: 0 20px;
  border-left: 1px dashed #eee;
}

#slider img {
  max-height: 330px;
}

.borderCY {
  border: 6px solid #4e94c4;
}

.media-object {
  border: 3px solid #4e94c4;
}

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  background: #555;
  margin: 15px 15px 15px -15px;
  max-width: 1400px;
}

.search input {
  border: 1px solid black;
  font-size: 15px;
  padding: 7px 5px;
  width: 100%;
  color: #8492af;
}

.navs {
  margin-left: 0px;
}

.navs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
  color: #fff;
  border-radius: 20px;
}

.navs ul li {
  float: left;
  border: 1px solid #fff;
}

.navs li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 60px;
  text-decoration: none;
}

.navs li a:hover:not(.active) {
  background-color: #111;
}

.navs active {
  background-color: #04aa6d;
}

.example {
  overflow-y: scroll;
}

.example::-webkit-scrollbar {
  display: none;
}
